<!DOCTYPE html>

<html>

<head>
    <title>CPD - About Me - Cian Payne</title>
    <link rel="stylesheet" type="text/css" href="../static/activities.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>

    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="">About Me</a></li>
        <li><a href="">Action Plan</a></li>
    </ul>

    <div class="background">
        <div class="bg-content">
            <h1>About Me - Cian Payne</h1>
        </div>
    </div>

    <div class="page-content">
        <h3>About Me</h3>
        <p>
            <img src="../images/IMG_20181026_194957.jpg" alt="Python Code" id="img1">
            Eiusmod in dolore elit proident duis ea laborum laboris ea ad. Adipisicing id voluptate duis fugiat labore do sit aliquip labore. Duis excepteur incididunt elit tempor reprehenderit laborum non esse commodo consequat duis. Nisi magna pariatur mollit sunt veniam do in et laboris consectetur cillum consectetur. Dolore ullamco Lorem esse mollit aute commodo do ipsum dolore ad sint.
            Do tempor quis cupidatat laboris ex duis. Laboris irure nulla culpa ipsum officia cillum ad minim deserunt qui dolor. Commodo velit voluptate deserunt eu cillum minim cupidatat anim labore minim culpa velit. Adipisicing aliqua anim cillum cillum consectetur enim ullamco sunt excepteur aliqua. In sunt sunt fugiat laborum enim cillum laborum ea ut esse sunt eiusmod.
        </p>
        <br>
        <h4>Find me on <a href="https://github.com/cpa750"><img src="../images/git.svg" alt="GitHub" id="git"></a></h4>
        <p>
            A live version of this website is available at <a href="https://cpa750.github.io/CPDWebsite/">https://cpa750.github.io/CPDWebsite/</a>
        </p>
    </div>

</body>
