<!DOCTYPE html>

<html>
    <head>
        <title>CPD - Activity 2 - Cian Payne</title>
        <link rel="stylesheet" type="text/css" href="../static/activities.css" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>

    <body>

        <div class="header">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/aboutme.html">About Me</a></li>
                <li><a href="">Action Plan</a></li>
            </ul>
        </div>

        <div class="background">
            <div class="bg-content">
                <h1>Activity 2</h1>
            </div>
        </div>
        <div class="page-content">
            <h3>About Activity 2</h3>
            <p>
                <img src="../images/IMG_0620.JPG" alt="Mountains" id="img1">
                Labore excepteur occaecat ullamco consectetur. Magna duis ut veniam aliquip. Ea eiusmod tempor anim cupidatat qui ex non. Labore id nulla enim consequat dolor tempor eu aute est. Pariatur magna sit labore non proident commodo. Reprehenderit magna in proident do aute.
                Ullamco occaecat proident enim ea commodo cupidatat. Lorem magna ipsum labore commodo sint culpa incididunt ex officia pariatur tempor magna. Fugiat dolor irure do proident est aute magna. Proident anim in eiusmod eiusmod eiusmod laborum. Officia est est irure consequat eiusmod Lorem voluptate aute irure occaecat proident amet nisi laboris. Duis incididunt id do dolor ex sit nisi consectetur.
            </p>
            <br>
            <h3>More Information</h3>
            <p>
                <img src="../images/IMG_0626.JPG" alt="Mountains" id="img2">
                Elit dolor ullamco non nulla officia minim. Laborum in qui occaecat sint fugiat eiusmod duis reprehenderit velit occaecat anim occaecat. Cillum exercitation ad tempor ipsum sunt adipisicing incididunt eu. Proident eu magna non eiusmod duis proident commodo consectetur amet. Laboris mollit ad do est sit dolore esse. Eu do ea irure pariatur in ut Lorem ipsum minim reprehenderit.
                Commodo cillum irure reprehenderit cupidatat ipsum incididunt laboris nostrud dolore. Et fugiat officia mollit minim culpa aliqua aliqua sint ullamco esse laborum. Esse culpa tempor labore tempor officia laboris culpa enim culpa qui qui. Ad duis quis duis fugiat. Occaecat consectetur esse adipisicing qui.
                Velit occaecat labore officia Lorem mollit. Pariatur labore labore cupidatat quis et culpa fugiat ex anim deserunt do. Culpa quis occaecat veniam sunt. Adipisicing aliquip commodo esse sint laboris ipsum. Excepteur enim tempor amet ex cillum est non anim. Fugiat nisi id voluptate ipsum nisi tempor proident mollit incididunt amet Lorem consectetur aliqua. Ullamco magna sint enim adipisicing dolor commodo commodo excepteur enim proident esse minim velit qui.
            </p>
        </div>
  
    </body>

</html>
