<!DOCTYPE html>

<html>
    <head>
        <title>CPD - Activity 3 - Cian Payne</title>
        <link rel="stylesheet" type="text/css" href="../static/activities.css" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>

    <body>

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/aboutme.html">About Me</a></li>
                <li><a href="">Action Plan</a></li>
            </ul>

        <div class="background">
            <div class="bg-content">
                <h1>Activity 3</h1>
            </div>
        </div>
        <div class="page-content">
            <h3>Activity 3 Information</h3>
            <p>
                <img src="../images/IMG_0853.JPG" alt="Something" id="img2">
                Pariatur fugiat elit adipisicing occaecat. In qui consequat amet anim anim sit Lorem proident deserunt elit voluptate Lorem incididunt. Ut qui proident magna labore cupidatat laborum ullamco cupidatat pariatur ex ad quis excepteur. Id dolore ut ex magna ad voluptate consectetur dolor reprehenderit nulla commodo. Dolor excepteur adipisicing nulla laboris ea. Dolore ea irure magna labore cillum amet consequat ullamco pariatur dolor ea.
                Veniam exercitation dolor pariatur veniam veniam enim consequat duis consectetur in aute. Qui ea dolore magna magna consectetur exercitation ea nulla qui ullamco incididunt. Amet officia esse occaecat veniam labore eu laborum eiusmod aliquip do aute non in nulla.
                Elit sit ut ullamco qui ex anim consequat esse quis ea laborum magna. Culpa adipisicing deserunt dolor sit occaecat mollit ex adipisicing tempor. Ipsum fugiat nulla incididunt dolore eiusmod officia veniam sit veniam aute cillum. Ipsum Lorem sunt laboris aute excepteur. Occaecat tempor culpa dolore proident nulla consectetur cupidatat irure.
            </p>
            <br>
            <h3>More Information</h3>
            <p>
                <img src="../images/IMG_0860.JPG" alt="Something" id="img1">
                Nisi ullamco elit amet sit cupidatat eu. Ipsum magna aliquip ea aute pariatur et. Ipsum nisi quis est in quis cillum cillum consequat pariatur. Cillum mollit tempor culpa adipisicing officia ex consequat exercitation. Aliquip occaecat duis voluptate ut reprehenderit labore sunt ut mollit. Laboris eu id incididunt nostrud consequat esse voluptate Lorem laboris proident anim magna laborum. In sint tempor do quis non voluptate Lorem aute.
                Anim in duis consequat Lorem dolor id velit veniam amet excepteur. Ipsum nulla velit non laboris reprehenderit ipsum qui anim. Officia ea est Lorem velit quis et excepteur qui incididunt cillum enim amet qui ut.
            </p>
        </div>

    </body>

</html>
