<!DOCTYPE html>

<html>

    <head>
        <title>CPD - Action Plan - Cian Payne</title>
        <link rel="stylesheet" type="text/css" href="../static/actionplan.css" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    </head>

    <body>

        <div class="header">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="">About Me</a></li>
                <li><a href="../views/actionplan.html">Action Plan</a></li>
            </ul>
        </div>

        <div class="background">
            <div class="bg-content">
                <h1>CPD - Action Plan</h1>
            </div>
        </div>

        <div id="about">
            <h3>About the Action Plan</h3>
            <p>
                Adipisicing amet anim do veniam incididunt amet Lorem esse elit minim. In exercitation tempor eu dolore incididunt ad velit labore commodo commodo. Ea officia voluptate amet sint dolor minim mollit dolore aute. Occaecat incididunt non occaecat eu anim minim Lorem non excepteur magna. Nisi amet consectetur reprehenderit do nisi voluptate aliquip tempor qui occaecat. Culpa veniam quis reprehenderit ad adipisicing ipsum excepteur laborum sint elit.
            </p>
        </div>

        <br>

        <table class="center">
            <tr>
                <th>Activity</th>
                <th>Hours Planned</th>
                <th>Reflection</th>
            </tr>
            <tr>
                <td>Activity 1</td>
                <td>5</td>
                <td>Deserunt labore deserunt irure deserunt occaecat dolor duis velit minim adipisicing excepteur.</td>
            </tr>
            <tr>
                <td>Activity 2</td>
                <td>5</td>
                <td>Consectetur magna sit eu cupidatat.</td>
            </tr>
            <tr>
                <td>Activity 3</td>
                <td>3</td>
                <td>Incididunt fugiat ex proident tempor eiusmod excepteur cillum irure dolore.</td>
            </tr>
        </table>


    </body>

</html>
