<!DOCTYPE html>

<html>

    <head>
        <title>CPD - Action Plan - Cian Payne</title>
        <link rel="stylesheet" type="text/css" href="../static/activities.css" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    </head>

    <body>

        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/aboutme.html">About Me</a></li>
            <li><a href="">Action Plan</a></li>
        </ul>

        <div class="background">
            <div class="bg-content">
                <h1>CPD - Action Plan</h1>
            </div>
        </div>

        <div class="page-content">
            <h3>About the Action Plan</h3>
            <p>
                Adipisicing amet anim do veniam incididunt amet Lorem esse elit minim. In exercitation tempor eu dolore incididunt ad velit labore commodo commodo. Ea officia voluptate amet sint dolor minim mollit dolore aute. Occaecat incididunt non occaecat eu anim minim Lorem non excepteur magna. Nisi amet consectetur reprehenderit do nisi voluptate aliquip tempor qui occaecat. Culpa veniam quis reprehenderit ad adipisicing ipsum excepteur laborum sint elit.
            </p>
        </div>

    </body>

</html>
