<!DOCTYPE html>

<html>
    <head>
        <title>CPD - DevSoc - Cian Payne</title>
        <link rel="stylesheet" type="text/css" href="../static/activities.css" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>

    <body>

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="">About Me</a></li>
                <li><a href="">Action Plan</a></li>
            </ul>

        <div class="background">
            <div class="bg-content">
                <h1>Activity 1</h1>
            </div>
        </div>
        <div class="page-content">
            <h3>About Activity 1</h3>
            <p>
                <img src="../images/IMG_0665.JPG" alt="Hills" id="img1">
                Reprehenderit excepteur qui exercitation incididunt sunt dolore ea ut tempor proident fugiat excepteur non quis. Eiusmod ad qui voluptate duis eiusmod enim aliqua culpa anim incididunt. Eu proident aliqua culpa do cupidatat consectetur amet minim do. Cillum officia aute magna nulla reprehenderit officia consequat sit sint id esse consequat nostrud labore.
                Duis aliquip sunt id aute ex labore officia in eiusmod consequat laborum do. Proident sint reprehenderit laborum labore quis culpa irure nisi incididunt consectetur. Duis id ad ipsum nulla nostrud dolore Lorem aliquip duis est. Qui elit ut sit sint. Voluptate reprehenderit est ad irure ad aute in non aliquip fugiat sunt veniam elit id. Aliqua consequat laborum laboris minim.
            </p>
            <br>
            <h3>More Information</h3>
            <p>
                <img src="../images/IMG_0837.JPG" alt="Something" id="img2">
                Eiusmod sint ut ullamco enim incididunt minim deserunt esse non non magna velit. Adipisicing enim do veniam ipsum in consequat do magna elit sit officia. Adipisicing dolore quis culpa et. Irure eiusmod incididunt aliqua quis officia occaecat velit amet qui nisi velit. Labore eiusmod incididunt laboris elit do aute aliqua eu aute aliquip aliqua.
                Quis non dolore ad in mollit. Aliqua eiusmod fugiat irure laborum sunt. Laboris et cupidatat ex laborum.
                Adipisicing reprehenderit ipsum dolore laborum labore deserunt nulla aliqua Lorem dolore nulla eu velit amet. Laboris amet nulla voluptate Lorem velit ea labore commodo ea amet. Enim eiusmod aute velit tempor. Cupidatat officia amet reprehenderit reprehenderit anim non incididunt labore. Tempor aliquip ad irure consectetur excepteur Lorem veniam consequat ullamco non esse aliqua adipisicing aute. Adipisicing consectetur qui aute deserunt. Magna proident nulla esse enim incididunt non.
            </p>
        </div>
  
    </body>

</html>
