<!DOCTYPE html>

<html>
    <head>
        <title>CPD - Canoe Slalom - Cian Payne</title>
        <link rel="stylesheet" type="text/css" href="../static/activities.css" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>

    <body>

        <div class="header">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="">About Me</a></li>
                <li><a href="">Action Plan</a></li>
            </ul>
        </div>

        <div class="background">
            <div class="bg-content">
                <h1>Activity - Canoe Slalom</h1>
            </div>
        </div>
        <div class="page-content">
            <h3>About Canoe Slalom</h3>
            <p>
                <img src="../images/canoer.jpg" alt="Canoe Slalom Athlete">
                <br>
                Canoe slalom is a highly competitive, adrenaline-pumping sport that involves racing
                through a set course in a whitewater river. A single mistake can prove devastating,
                with the tenths of seconds deciding the medals. Top athletes put in thousands of hours
                of training year-round in all sorts of conditions, hoping to become the best.
            </p>
        </div>
  
    </body>

</html>
