<!DOCTYPE html>

<html>
    <head>
        <title>CPD - DevSoc - Cian Payne</title>
        <link rel="stylesheet" type="text/css" href="../static/activities.css" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>

    <body>

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="">About Me</a></li>
            </ul>

        <div class="background">
            <div class="bg-content">
                <h1>Activity - DevSoc</h1>
            </div>
        </div>
    </body>

</html>
