* {
    font-family: "Verdana","Arial";
}

body, html {
    height: 100%;
    margin: 0;
}

p {
    width: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 28px;
    padding-left: 0;
    padding-right: 0;
    background-color: #5e5e5e;
    width: 100%;
}

li a{
    float: left;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
}

li a:hover{
    background-color: #777777;
}

li a:active {
    background-color: #000000;
}

img {
    max-width: 175px;
    padding-right: 5px;
}

#img1 {
    float: left;
}

#img2 {
    float: right;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: -1px;
}

.background {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    background-image: url("../images/grand_canyon.jpg");
    height: 20%;
    margin-top: -21px;
}

.bg-content {
    color: #ffffff;
    position: relative;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}

.page-content {
    margin-top: 40px;
    margin-left: 20px;

}

#git {
    max-width: 20px;
}


@media only screen and (max-width: 425px) {
    .row {
        display: block
    }
    .background {
        height: 100%;
    }
    img {
        float: none;
        max-width: 75%;
    }
    .page-content {
        text-align: center;
    }

    #img1 {
    float: none;
    }

    #img2 {
    float: none;
    }
}   

@media only screen and (max-width: 768px) {
    .row {
        display: block;
    }
    
}
