body, html {
    height: 100%;
    margin: 0;
}

.background {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    background-image:url("../images/grand_canyon.jpg");
    height: 30%;
    margin-top: -21px
}

.bg-content {
    font-family: "Verdana","Arial";
    color: #ffffff;
    position: relative;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}

.content-header {
    font-family: "Verdana", "Arial";
    text-align: center;
    color: #5e5e5e;
    font-size: 110%
}

.content1 {
    margin: 20px;
    padding: 5px;
    border: 2px solid #5e5e5e;
}

.row {
    display: flex;
}


.column {
    flex: 33.33%;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 28px;
    padding-left: 0;
    padding-right: 0;
    background-color: #5e5e5e;
}

li a{
    float: left;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Verdana", "Arial";
    text-decoration: none;
}

li a:hover{
    background-color: #777777;
}

li a:active {
    background-color: #000000;
}
